.App {
    text-align: center;
  }
  
  .video-container {
    display: grid;
    width: 100%;
    height: 100vh;
  }
  
  .video-container iframe {
    width: 100%;
    height: 100%;
  }
  
  .video-container.video-count-1 {
    grid-template-columns: 1fr;
  }
  
  .video-container.video-count-2 {
    grid-template-columns: 1fr 1fr;
  }
  
  .video-container.video-count-3 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  .video-container.video-count-4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
