.video-grid {
  display: grid;
  gap: 10px;
  width: 100%;
  height: 100vh;
}

.grid-one {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.grid-two {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.grid-three {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid-four {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
